.old_ie .setting-bar,
.old_ie .guide-section,
.old_ie .setting-button {
    display: none;
}

.IENotice {
    display: none;
}

.old_ie .IENotice {
    display: block!important;
    width: 100%;
    height: 100%;
}

.old_ie .IENotice .modal {
    display: block!important;
    text-align: center;
    background: white;
    padding: 20px;
    color: #000;
    margin: 10% auto 0;
    font-size: 20px;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:active,
a:hover {
    color: #337ab7;
    text-decoration: underline;
}

html {
    height: -webkit-fill-available;
}

body {
    font-family: Helvetica, Arial, San serif;
    font-size: 15px;
    color: #666666;
    line-height: 1.2;
    overflow: hidden;
    /*mobile viewport fix*/
    min-height: -webkit-fill-available;
    min-height: 100vh;
}

.setting-bar {
    right: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: fixed;
    top: 0;
    border: 1px solid rgba(0, 0, 0, 0.20);
    height: 100%;
    background: #F4F4F4;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.30);
    padding: 30px 20px;
    overflow-y: auto;
    -webkit-transform: translateX(560px);
    transform: translateX(560px);
    z-index: 19;
    width: 0;
}

.mask {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 8;
    background: rgba(0, 0, 0, 0.6);
    left: 0;
    top: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    pointer-events: none;
}

.active.mask {
    opacity: 1;
    visibility: visible;
}

.setting-bar.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    width: 100%;
}

.guide-section {
    right: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 10;
    background: #fff;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.30);
    padding: 30px;
    overflow-y: auto;
    width: calc(100vw - 560px - 50px);
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
}

.guide-section.active {
    -webkit-transform: translateX(-538px);
    transform: translateX(-538px);
}

.form-control {
    height: 26px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #DBDBDB;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 5px 10px;
    font-family: Helvetica, Arial, San serif;
    font-size: 12px;
    color: #666666;
    background: white;
}

.form-control:focus,
.form-control:active {
    outline: none;
}

.form-group label {
    display: table-cell;
}

.filter-hue {
    background: hsl(0, 0%, 85%);
    padding: 25px 0 10px 0;
    margin-bottom: 20px;
    border-radius: 10px;
}

.col-1 {
    display: table-cell;
    min-width: 343px;
}

.col-2 {
    display: table-cell;
    min-width: 144px;
}

.col-4 {
    display: table-cell;
    min-width: 120px;
}

.col-8 {
    display: table-cell;
    width: 196px;
}

.col-12 {
    display: table-cell;
    width: 103px;
}

.form-control+.unit {
    margin-left: 5px;
}

.red {
    color: #D30000;
    font-size: 12px;
}

.form-group {
    display: table;
    margin: 0 0 10px 0;
    width: -webkit-fill-available;
    height: fit-content;
}

.input-sm {
    width: calc(100% - 35px);
}

.input-med {
    width: 210px;
}

.fg-divider {
    margin: 10px 5px 20px 5px;
}

.select-box {
    position: relative;
}

.keyboard {
    margin-right: 5px;
}

.select-box:after {
    content: "";
    border: 1px solid #666;
    border-top: none;
    border-right: none;
    display: block;
    height: 10px;
    position: absolute;
    right: 15px;
    top: 5px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 10px;
    pointer-events: none;
}

legend,
h2 {
    font-size: 32px;
    padding: 0 0 20px 0;
}

fieldset {
    border: none;
    border-top: 1px solid #979797;
    padding-top: 30px;
    position: relative;
}

fieldset .title {
    position: absolute;
    right: 0;
    color: white;
    text-transform: uppercase;
    top: 0;
    text-align: center;
}

fieldset .title span {
    background: #666;
    display: block;
    float: left;
    width: 134px;
    font-size: 13px;
    height: 22px;
    line-height: 24px;
}

fieldset .title a {
    background: #999999;
    height: 22px;
    margin-right: 2px;
    width: 22px;
    display: none;
    float: left;
    color: #fff;
    line-height: 24px;
    text-decoration: none;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

fieldset.footer-fieldset {
    padding-top: 30px;
}

.close,
.close-guide {
    position: absolute;
    right: 30px;
    top: 35px;
}

.btn {
    padding: 10px 12px;
    background: #F4F4F4;
    border-radius: 5px;
    border: 1px solid #979797;
    font-size: 15px;
    text-align: center;
    color: #666666;
    cursor: pointer;
    min-width: calc(50% - 10px);
}

.btn:hover {
    opacity: 0.8;
}

.btn+.btn {
    margin-left: 5px;
}

.action-button {
    text-align: right;
    margin-bottom: 30px;
}

.col-setting {
    position: relative;
}

.col-setting i {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: solid 1px gray;
    position: absolute;
    top: 10%;
    left: 165px;
}

.slider {
    -webkit-appearance: none;
    position: absolute;
    left: 40%;
    width: 55%;
    height: 10px;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.red-slide {
    background: hsl(0, 80%, 60%);
}

.green-slide {
    background: hsl(160, 80%, 60%);
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 2px rgba(50, 50, 50, 1);
    background: rgba(100, 100, 100, 0.5);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 2px rgba(50, 50, 50, 1);
    background: rgba(100, 100, 100, 0.5);
    cursor: pointer;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .action-button {
        margin: 0;
    }
}

.btn-primary {
    border-color: #2d689d;
}

.btn-tiny {
    padding: 6px 6px;
    border-radius: 4px;
    border: 1px solid #979797;
    font-size: 15px;
    color: #666666;
    cursor: pointer;
    min-width: 50px;
}

.btn[disabled] {
    cursor: not-allowed;
    opacity: 0.3;
}


/*accordion*/

.panel-title a {
    display: block;
    padding: 10px;
    background: #666666;
    color: white;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    font-weight: normal;
}

.panel-title a:after {
    width: 0;
    content: "";
    height: 0;
    border-style: solid;
    border-width: 9px 7px 0 7px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    display: block;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.collapse {
    display: none;
}

.panel {
    margin-bottom: 2px;
}

.panel-heading.active .panel-title a:after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

.panel-collapse {
    padding: 10px;
}

.scoreBox {
    font: bold 12px helvetica, arial, sans-serif;
    position: absolute;
    max-width: 57px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0 !important;
    background: #d8d8d8;
    border-radius: 5px;
    color: #000;
    padding: 3px 3px;
    transition: all 0.1s linear;
    border: 1px solid transparent;
    left: 3px;
    cursor: pointer;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.scoreBox:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border-color: red;
    z-index: 9;
}

.scoreBox.active {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: red;
    color: rgba(0, 0, 0, 1);
    z-index: 9;
}

.rule label {
    position: sticky;
    margin: auto;
    display: block;
    transform: translateX(calc(50% - 25mm - 1px));
}

.rule label:before,
.rule label:after {
    background: black none repeat scroll 0 0;
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    top: 7px;
    width: 1px;
}

.rule label:after {
    left: 50mm;
    /* right: 0; */
}

#letterChart {
    position: relative;
    text-align: center;
    margin: 0;
    z-index: 0;
}

#letterChart .character-line {
    position: relative;
    line-height: 0;
    font-size: 0;
    width: 100%;
}

.duo {
    background-size: 100%;
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 50%, rgba(0, 200, 127, 1) 50%, rgba(0, 200, 127, 1) 100%);
}

#letterChart .char-line {
    display: inline-block;
    z-index: 1;
}

#otherChart {
    position: relative;
    text-align: center;
    margin: 0;
    z-index: 0;
}

.chart {
    height: 100%;
    width: 100%;
    display: none;
}

.clear-both {
    height: 0;
    clear: both;
}

.panel ul {
    margin-left: 15px;
}

.panel ul li {
    margin: 10px 0;
}

body {
    margin: 0 auto;
}

.char-line {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.char-line svg {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    float: left;
    cursor: pointer;
}

.char-line svg.disable {
    opacity: 0;
    visibility: hidden;
}

.char-line svg.active {
    opacity: 1;
    visibility: visible;
}


/*get dpi*/

#dpi {
    height: 1in;
    left: -100%;
    position: absolute;
    top: -100%;
    width: 1in;
}

.disabled-btn {
    background: #ccc;
    border: #ccc;
    filter: opacity(0.3);
    pointer-events: none;
}

.disabled-fg {
    pointer-events: none;
    filter: opacity(.2);
}

.errorMsg {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 10px;
}

.character-invisible {
    visibility: hidden;
    opacity: 0;
}

.modal-setting {
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
}

#side-bar {
    background: linear-gradient( 90deg, rgb(138 138 138 / 0%) 0%, rgb(204 204 204) 50%);
    position: absolute;
    width: 80px;
    right: 0px;
    text-align: center;
    height: 100%;
    z-index: 14;
}

.setting-button a {
    display: block;
    position: relative;
    width: 42px;
    height: 42px;
    margin: 0 auto;
    z-index: 9;
}

.setting-button svg {
    position: relative;
    top: 20px;
}

#clock-div {
    display: block;
    position: relative;
    top: 30px;
    width: 100%;
    color: rgb(255, 255, 255);
    font: 800 20px sans-serif;
}

#button-div {
    display: block;
    position: relative;
    top: 40px;
}

#arrow-button-div {
    display: none;
    position: relative;
    width: 100%;
}

#arrow-button-div a {
    cursor: pointer;
    display: block;
    text-decoration: none;
    margin: 0.5em 0;
}

.arrow-button {
    width: 52px;
}

#pic-arrow-div {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 20px;
}

#pic-arrow-div a {
    cursor: pointer;
    display: block;
    text-decoration: none;
    margin: 0.5em 0;
}

.pic-arrow {
    margin: -0.5em 0;
}

#function-button-div {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 40px;
}

#function-button-div a {
    cursor: pointer;
    display: block;
    text-decoration: none;
    margin: 0.5em 0;
}

#function-button-div svg {
    width: 52px;
}

#thisBadge {
    display: block;
    text-align: center;
    margin: 20px 0;
}

#nav-button-outer-div {
    display: block;
    position: fixed;
    overflow: hidden;
    right: 0px;
    bottom: 40px;
    background-color: transparent;
}

#nav-button-div {
    display: block;
    border-radius: 31px 0 0 31px;
    background-color: rgb(204, 204, 204);
    position: relative;
    height: 62px;
    transform: scale(0.6) translate(115%, 0);
    transition: 0.2s ease-in-out;
}

#nav-button-div a {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: 62px;
    padding: 10px;
}

#nav-button-div.expanded {
    transform: scale(0.6) translate(33%, 0);
}


/*    Animista slide animations   */

.slide-out-top {
    -webkit-animation: slide-out-top .2s cubic-bezier(.215, .61, .355, 1.000) both;
    animation: slide-out-top .2s cubic-bezier(.215, .61, .355, 1.000) both
}

.slide-out-right {
    -webkit-animation: slide-out-right .2s cubic-bezier(.215, .61, .355, 1.000) both;
    animation: slide-out-right .2s cubic-bezier(.215, .61, .355, 1.000) both
}

.slide-out-bottom {
    -webkit-animation: slide-out-bottom .2s cubic-bezier(.215, .61, .355, 1.000) both;
    animation: slide-out-bottom .2s cubic-bezier(.215, .61, .355, 1.000) both
}

.slide-out-left {
    -webkit-animation: slide-out-left .2s cubic-bezier(.215, .61, .355, 1.000) both;
    animation: slide-out-left .2s cubic-bezier(.215, .61, .355, 1.000) both
}

.slide-in-top {
    -webkit-animation: slide-in-top .2s cubic-bezier(.25, .46, .45, .94) both;
    animation: slide-in-top .2s cubic-bezier(.25, .46, .45, .94) both
}

.slide-in-right {
    -webkit-animation: slide-in-right .2s cubic-bezier(.25, .46, .45, .94) both;
    animation: slide-in-right .2s cubic-bezier(.25, .46, .45, .94) both
}

.slide-in-bottom {
    -webkit-animation: slide-in-bottom .2s cubic-bezier(.25, .46, .45, .94) both;
    animation: slide-in-bottom .2s cubic-bezier(.25, .46, .45, .94) both
}

.slide-in-left {
    -webkit-animation: slide-in-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
    100% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0
    }
}

@keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
    100% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0
    }
}

@-webkit-keyframes slide-out-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
    100% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0
    }
}

@keyframes slide-out-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
    100% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0
    }
}

@-webkit-keyframes slide-out-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
    100% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0
    }
}

@keyframes slide-out-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
    100% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0
    }
}

@-webkit-keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
    100% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0
    }
}

@keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
    100% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0
    }
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@media only screen and (max-width: 1024px) {
    /* For tablets */
    #side-bar {
        width: 38px;
    }
    #clock-div {
        display: none;
    }
    #side-bar>a svg {
        width: 28px;
    }
    #arrow-button-div {
        top: 20px;
        display: none;
    }
    #arrow-button-div>a svg {
        width: 28px;
    }
    #thisBadge>svg {
        width: 40px;
    }
    #pic-arrow-div {
        margin: 0 auto;
        top: 40px;
    }
    #pic-arrow-div>a svg {
        width: 28px;
    }
    #pic-arrow-div a {
        margin: 0.5em 0;
    }
    .pic-arrow {
        margin: -0.5em 0;
    }
    #function-button-div {
        top: 60px;
    }
    #function-button-div svg {
        width: 28px;
    }
}

fieldset:nth-child(3) {
    display: none
}

fieldset:nth-child(5) {
    display: none
}

fieldset:nth-child(6) {
    display: none
}

fieldset:nth-child(7) {
    display: none
}

a#btBgFunc {
    display: none;
}

div#settings {
    display: none;
}